$vm_base: 375;

@function vw($px) {
    @return ($px / 375) * 100vw;
}
*{
    box-sizing: border-box;
}
.recommend{
    width:vw(375);
    .first_image{
        position: relative;
        .bigImg{
            
            width:vw(375);
            height: vw(210);
        }
        .box-line{
            // top:vw(30)
            
            
            // width: vw(375);
            overflow: hidden;
          
            h2{
                // width:vw(375);
                margin-bottom:vw(5);
                position: absolute;
                font-size:vw(13);
                width: vw(375);
                box-sizing: border-box;
                color:#ffffff;
                z-index:99;
                border-radius: vw(10);
                // text-align: center;
                align-items: center;
                border:1px solid #000;
                // height:vw(26.8);
                bottom:vw(10);
                white-space: nowrap;
                background:rgba(0,0,0,.4);
                overflow:hidden;
                text-overflow: ellipsis;
                padding:vw(5) vw(20)
            }
        }
    }
    .second_images{
        // width: vw(375);
        // height: 100%-vw(48.8);
        overflow: hidden;
        .single-image{
            width:vw(375);
            height:vw(114);
            padding:vw(15) vw(20);
            font-size:vw(14);
            color:#000000;
            background:#fff;
            
            .smallImg{
                position: relative;
                padding:vw(0) vw(112) vw(0) vw(0);
                display: flex;
                
                .smallImgLeft{
                    // position: relative;
                    width:vw(223.2);
                    
                    .box-two-lines{
                        height: vw(43);
                        // margin-bottom:vw(15);
                        overflow:hidden;
                        text-overflow: ellipsis;
                        // white-space: nowrap;
                        flex-grow:1;
                        // font-size: vw(15);
                        h2{
                            margin:vw(0) vw(0);
                            font-size: vw(15);
                            color:#222;
                            font-weight:400;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        
                    }
                    .item-foot{
                        position: absolute;
                        width:vw(223);
                        height:vw(27);
                        top:vw(50);
                        padding:vw(10) vw(0) vw(0);
                        img{
                            width:vw(17);
                            height:vw(17);
                            background:#f5f5f5;
                            margin:0 vw(5) 0 0;
                            border-radius: 50%;
                            vertical-align: middle;
                        }
                        span{
                            padding:vw(0) vw(7.5) vw(0) vw(0)
                        }
                        .health-name{
                            font-size: vw(10);
                            color:#777777;
                        }
                        .skim{
                            font-size: vw(10);
                            color:#777777;
                        }
                        
                    }
                }
                .smallImgRight{
                    width:vw(107);
                    height: vw(80.5);
                    position:absolute;
                    top:0;
                    right:0;
                    display: block;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        
    }
}
