$vm_base: 375;

@function vw($px) {
    @return ($px / 375) * 100vw;
}
@function vh($px) {
    @return ($px / 667) * 100vh;
}

.body {
    padding: 0;
    margin: 0;
}

.App {
    width: vw(375);
    position: relative;
    display: flex;
    background: #f4f4f4;
    flex-direction: column;
    justify-items : space-between;
    height: 100vh;

    .Appa {
        width: 100vw;
        height: vh(51);
        .active {
            color: #28B2F9;
        }

    }
    .navigation {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        width: 20%;
        color: #333;
        i {
            font-size: 24px;
        }
        div {
            font-size: 12px;
        }
    }
}