.header {
  box-sizing: border-box;
  width: 100vw;
  height: 9.86667vw;
  padding-left: 4vw;
  padding-right: 5.33333vw;
  display: flex;
  font-size: 4vw;
}

.header a {
  box-sizing: border-box;
  vertical-align: center;
  padding-top: 2.26667vw;
  padding-bottom: 2.26667vw;
  margin: 0 2.66667vw;
  height: 9.86667vw;
  color: #000000;
}

.header .active {
  font-weight: 700;
  border-bottom: 2px solid green;
}
